body {
    background-color: #fdf3cf;
	padding-top:70px;
}
.b_searchboxSubmit
{
	height:39px;
}

.how_old_title
{
	text-align:center;	
	color:#DF6826;	
}


#bing_loader_area
{
	height:17px;
	margin-top:6px;
}

#bing_loader
{
	z-index:10000;
	position:relative;
}

.add_top
{
	text-align:center;
	margin-bottom:40px;	
}

#middle_area
{
	margin-top:55px;
}

#uploadLabel
{
	margin-top:28px;
}

.bottom_add_area
{
	text-align:center;	
}

.fb_share
{
	margin-top:10px;
}

.result_fb_share
{
	margin-top:30px;
}

#searchbox
{
	max-width:800px;
	margin:auto;
}

#fotter_menu
{
	margin-top:50px;
}

#fotter_menu a
{
	color:#FFFFFF;
}

#result_bottom_add
{
	margin-top:20px;
}

#results a:hover
{
	text-decoration:none;
}

.result_add_left, .result_add_right
{
	width:100%;
	text-align:center;
}

#result_load_area
{
	height:18px;
	margin-top:5px;
}

.result_share_area {
    margin: auto auto 5px;
    width: 310px;
	margin-top:20px;
}

.qc-fb-share {
    background-color: rgb(48, 97, 153);
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}

.qc-fb-share img {
    height: 22px !important;
    vertical-align: middle;
}

.fb_sharebtn
{
	margin: 5px auto auto;
}

.pop_resultImg
{
	margin-top:5px;
}

#imageDiv
{
	margin-top:22px;
}

.banner_brand_title
{
	text-align:left;
	font-size:13px;
	color:#929292;
}

.banner_titles
{
	min-height:45px;
}

.banner_item_box
{
	border:1px solid #cccccc;
	margin-bottom:5px;
	padding:3px;
}

.banner_headline
{
	font-size:17px;
	font-weight:bold;
	text-align:left;
}

.banner_title {
    color: #000000;
    font-size: 15px;
    text-align: left;
}



@media only screen and (max-width: 1000px) {
	.add_top img, .add_bottom img
	{
		width:100%;
	}
}

@media only screen and (max-width: 767px) {

	.add_top
	{
		margin-bottom:30px;
	}
	
	#fotter_menu
	{
		margin-top:30px;
	}
	
	.result_image
	{
		padding:0;
		padding-top:20px;
	}
	
	.container
	{
		padding-left:5px;
		padding-right:5px;
	}
	
	.result_share_area
	{
		width:100%;
	}
	#header_area
	{
		margin-bottom:0;
	}
	
	#imageDiv
	{
		margin-top:5px;
		z-index:-1;
	}
	
	#middle_area
	{
		margin-top:20px;
	}
	.fb_share
	{
		margin-top:5px;
	}
}


@media only screen and (max-width: 620px) {
	#header_area
	{
		height:45px;			
	}	
	
	.logo img {
    	height: 40px;
	}
	
	.subheader
	{
		margin-top:9px;
	}
}

@media only screen and (max-width: 480px) {
	#maxImageSize
	{
		font-size:13px;
		margin-top:0;
	}
	
	#keep_photo
	{
		margin-top:0;
	}
	
	
	
}

@media only screen and (max-width: 420px) {
	
	#middle_area
	{
		padding-left:0;
		padding-right:0;
	}
	.action
	{
		font-size:25px;
	}
	
	#maxImageSize
	{
		font-size:16px;
	}
	
	#keep_photo
	{
		font-size:16px;
	}
	
	.fb_sharebtn
	{
		font-size:20px;
	}
	
	.how_old_title
	{
		font-size:20px;
	}
	
	body 
	{
		padding-top:40px;
	}
}


@media only screen and (max-width: 350px) {
	#header_area
	{
		height:40px;
		
	}	
	
	.logo img {
    	height: 32px;
	}
	
	.subheader
	{
		margin-top:6px;
		font-size:14px;
		margin-left:0;
	}
	
	
}

.ImageSelector .ScrollArea {
	border-color:#FDF3CF;
}

#fotter_menu a
{
	color:#e06826;
}

#maxImageSize
{
	color:#DF6826;
	font-weight:bold;
}

#keep_photo
{
	font-size: 15px;
    font-weight: 100;
    margin-bottom: 0 !important;
	color:#DF6826;
	font-weight:bold;
}

/* iphone Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  
  #uploadLabel {
  	margin-top:0px;
  }
  
  #imageDiv {
  	margin-top:3px;
  }
  
  
}

