@font-face
{
	font-family: opensans;
	src: url('font/OpenSans-Regular.ttf'); 
}

@font-face
{
	font-family: opensans_semibold;
	src: url('font/OpenSans-Semibold.ttf'); 
}

@font-face
{
	font-family: RobotoSlab_Regular;
	src: url('font/RobotoSlab-Regular.ttf'); 
}

@font-face
{
	font-family: lato;
	src: url('font/Lato-Regular.ttf'); 
}

body
{
	background:#ffffff;
	/*padding-top:70px;*/
	padding-top:0px !important;
	font-family:opensans;
}
.navbar-fixed-top, .navbar-fixed-bottom {
	position:relative !important;
}

.navbar-inverse
{
	border-color:#eeeeee;
}

#topmenu
{
	background:#FFFFFF;
}
#slide-nav {
	background:#FFFFFF;
}

.domain_like_box
{
	padding-top:24px;
}

#logo
{
	padding-top:15px;
}
#topmenu .nav > li > a:hover,
#topmenu .nav > li > a:focus {
	background:none !important;
	color:#000000;	
}

#topmenu .nav > li > a
{
	color:#000000;
	font-size:20px;
	padding: 10px 22px;
	
}

#topmenu .nav > li:last-child > a
{
	/*padding-right:0 !important;*/
}



.nav > li
{
	border-left:1px solid #eeeeee;
	padding:6px 0;
}

.nav > li:last-child
{
	border-right:1px solid #eeeeee;
}

.home_header_bottom
{
	clear:both;
	padding-top:70px;
}

#featured_post
{
	padding:0;
}
.featured_caption
{
	height:75px;
	background:#FFFFFF;
	padding:5px;
	border-radius:0px 0px 6px 6px;
}

.latest_games_caption
{
	/*height:140px;*/
	height:80px;
	padding:5px 0;
	text-align:center;
	font-family:"lato",Helvetica;
}


.top_games_caption
{
	/*height:60px;*/
	padding:5px 0;
	text-align:center;
}

.widgets_area div.top_games_caption 
{
	font-family:"lato",Helvetica;
	color:#666666;
}

.top_headline
{
	text-align:left;
}

#latest_headline, #top_headline
{
	background:#FFFFFF;
	padding:6px 15px;
	font-size:20px;
	color:#000000;
}
latest_headline

.latest_title a, .latest_games_caption a, .top_games_caption a
{
	color:#000000;
	
}

.featured_caption a
{
	font-size:17px;
	color:#000000;
	text-align:justify;
}

.latest_games_caption a
{
	font-size:26px;
	line-height:1.009;
	color:#666666;
}
.latest_description
{
	padding:8px 0;
}
.latest_description a
{
	font-size:16px;
	
}

.top_games_caption 
{
	font-size:18px;
}
.left_part .top_games_caption 
{
	font-size:15px;
}
.featured_title
{
	font-weight:bold;
	
}
.navbar-brand {
		padding:5px 15px 0 !important;
		padding-right:5px !important;
	
	}

.latest_title
{
	font-weight:bold;
	color:#4d4d4d;
	font-size:10px;
	font-family:"lato",Helvetica;
}
	
#right_panel
{
	border-left:1px solid #cccccc;
	padding:0;
}



.top_num
{
	background:#3DBFFC;
	bottom:60px;
	position:absolute;
	font-size:15px;
	padding:0 5px;
	font-weight:bold;
	color:#FFFFFF;
}

.top_title
{
	background:#07A3EB!important;
	bottom:60px;
	position:absolute;
	font-size:13px;
	padding:0 3px;
	color:#FFFFFF;
}

#list_header
{
	background:#dfdfdf;
	border-bottom: 2px solid #cccccc;
    height: 65px;
}
#list_header .logo
{
	height:53px;
	padding-top:17px;
}

.list_title
{
	font-size:30px;	
	font-weight:bold;
	
}

#list_right_panel
{
	border-left:1px solid #cccccc;
}
#list_left_-panel {
	margin:0;
	padding:0;


}
.domain_like_box
{
	width:112px;
	text-align:right;
}
.item_title {
	font-weight:bold;
	font-size:25px;
	color:#000000;
	padding-bottom:20px;


}
.list_border {
	border-bottom:1px solid #CCCCCC;
	padding-bottom:10px;
	padding-top:20px;

}
.list_of_item_title{
	padding:0;
	height:auto


}
.item_image {
	padding-bottom:10px;


}
.item_description {
	text-align:justify;


}
.list_title {
	padding:0px !important;
	margin:0;


}
.snipet_1 {
	font-size:16px;
	text-align:justify;
	padding-bottom:15px;
	
} 
.list_image {
	padding-bottom:15px;

}
.snipet_2 {
	font-size:23px;
	padding-bottom:15px;

}
.snipet_3 {
	font-size:23px;
	padding-bottom:15px;

}
.description {
	font-size:16px;
	text-align:justify;

}

.fb_like_box_small
{
	display:none;
}

.social_link
{
	margin:10px 0;
}

.facebook-popup {
    bottom: 5px;
    overflow: hidden;
    position: fixed;
    right: -330px;
    /*right:0;*/
	background:#EDEFF4;
	padding:3px 5px 5px;
	z-index:100;
	border:1px solid #cccccc;
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
}

.fb_text
{
	font-size:20px;
	color:#5777CE;
}
.fb_popup_close
{
	border-bottom:1px solid #CCCCCC;
}

.fb_popup_close a
{
	cursor:pointer;
	font-weight:bold;
	font-size:22px;
}
.img-rounded_custom
{
	border-radius: 20px;
}

.img_rounded_featured
{
	border-radius: 6px 6px 0px 0px;
}

.youtube_video, .vimeo_video
{
	width:auto;
	height:auto;
}

.latest_item_box
{
	margin-bottom:5px;
}

.more_title
{
	font-size:24px;
	
}
.fb_box {
	border:1px solid #AAAAAA;
	overflow:hidden;

}
.fb_title {
	padding:5px 10px;;
	background:#EDEFF4;
	color:#000000;
	font-weight:bold;
	font-size:11px;
	text-align:left;

}

.copyRight
{
	font-size:12px;
	padding-top:6px;
}
#footer_links a
{
	padding:0 6px;
}

.facebookLikeBox
{
	padding-right:15px !important;
}

#left_part
{
	padding:0px;
}

.language_list
{
	margin-top:18px;
	text-align:right;
	width:150px;
}
.language
{
	font-size:18px;
	height:29px;
}

.games_headline {
    border-bottom: 1px solid #ccc;
    border-left: 3px solid #31b0d5;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    padding: 0 10px 5px;
}

#topmenu ul.nav 
{
	padding-top:10px;
}

.banner_title
{
	font-size:15px;
	color:#000000;
	font-weight:bold;
}
.banner_brand_title {
    color: #00bef4;
    font-size: 11px;
    text-align: left;
}

.banner_item_box a:hover
{
	text-decoration:none;
}

.banner_item_box
{
	margin-bottom:15px;
	min-height:230px;
}

.widgets_area
{
	background:#FFFFFF;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 6px;
	min-height:185px;
}


.widgets_area:hover
{
	background:#F4E9C3;
}
.latest_item_box:hover
{
	/*background:#F4E9C3;*/
}


.widgets_area a:hover
{
	text-decoration:none;
}
.result_page_headline
{
	margin-bottom:10px;
}

.site_bar_add_bg
{
	background:#feeaff !important;
}



@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
  
  .list_container 
  {
    width: 1140px;
  }
  
  /*#topmenu ul.nav 
   {
	padding-top:10px;
	 
   }*/
}

@media only screen and (max-width: 1199px) { 
	.language_list
	{
		width:165px;
	}
}

 
@media only screen and (max-width: 1000px) { 
	
	.nav-justified > li
	{
		width:auto !important;
	}
	#topmenu .nav > li > a
	{
		/*font-size:12px;
		font-weight:bold;*/
	}
	.featured_caption
	{
		height:70px;		
	}
	
	.latest_title a, .top_games_caption a, .featured_caption a
	{
		
		text-align:justify;
	}
	
	#topmenu .nav > li > a
	{
		padding: 10px 21px
	}
	
	
	
	.domain_like_box
	{
		/*width:130px;*/
	}
	.latest_games_caption
	{
		height:60px;
	}
	.latest_games_caption a 
	{
		font-size:17px;
	}
	.latest_description a 
	{
		font-size:15px;
	}
	
	.featured_caption a
	{
		font-size:15px;
		font-weight:bold;
	}
	.top_games_caption a
	{
		font-size:15px;
		font-weight:bold;
	}

}

@media only screen and (max-width: 1199px) { 
	.language_list
	{
		width:215px;
	}
	.domain_like_box
	{
		/*width:100px;*/
	}
	.language
	{
		/*font-size:15px;*/
	}
	#topmenu .nav > li > a
	{
		padding:10px 12px;
	}
}


@media only screen and (min-width:768px) and (max-width: 970px) { 
	.fb_like_box_big
	{
		display:none;
	}
	.fb_like_box_small
	{
		display:inline;
	}
	
	.slick-next {
		right: -3px;
	}
	
	.slick-prev {
		left: -3px;
	}
	
	.domain_like_box
	{
		padding-top:21px;
	}
	.navbar-brand
	{
		padding-top:10px;
	}
	#topmenu .nav > li > a
	{
		/*padding:10px 11px;*/
		/*font-size:12px;*/
	}
	
	.language
	{
		height:29px;
	}
	
	.language_list
	{
		width:138px;
		margin-top:12px;
	}
	
	
}

@media only screen and (max-width: 991px) {
	#topmenu ul.nav {
		padding-top: 2px;
	}
	
	.latest_games_caption
	{
		height:70px;
	}
}

@media only screen and (max-width: 767px) {
	.latest_title a, .latest_games_caption a, .top_games_caption a, .featured_caption a
	{
		font-size:14px;
		
	}
	.latest_games_caption, .top_games_caption
	{
		padding:0;
	}
	.top_headline
	{
		text-align:left;
	}
	#latest_headline, #top_headline
	{
		font-size:18px;
		background:#FFDE2F !important;
		padding:0 2px;
	}
	
	#topmenu .nav > li > a
	{
		color:#920030;
	}
	
	#topmenu .nav > li > a:hover,
	#topmenu .nav > li > a:focus {
		color:#f40350;	
	}
	
	.domain_like_box
	{
		text-align:left;
	}
	.navbar-brand
	{
		padding-top:12px;
	}
	
	.navbar-header
	{
		float:left;
	}
	
	
	.home_header_bottom
	{
		height:50px;
	}
	
	.latest_title_mob
	{
		background:#07A3EB;
		bottom:140px;
		position:absolute;
		font-size:13px;
		padding:0 5px;
		color:#FFFFFF;
	}
	#right_panel
	{
		border-left:none !important;
	}
	
	.top_headline
	{
		margin-top:20px;
	}
	
	.featured_caption
	{
		height:auto;		
		position:absolute;
		bottom:0;
		width:92%;
		border-radius:0px;
		
	}

	.featured_caption a
	{
		font-size:18px;
		font-weight:normal;
	}
	.latest_games_caption a
	{
		font-size:18px;
	}
	
	.latest_description a 
	{
		font-size:15px;
	}
	
	#topmenu .nav > li > a
	{
		padding:10px 15px;
	}
	.latest_description
	{
		padding:2px 0;
	}
	
	.latest_games_caption
	{
		height:60px;
	}
	.latest_title_mob
	{
		bottom:60px;
	}
	
	.top_games_caption
	{
		height:60px;
	}

}

@media only screen and (max-width: 700px) {
	.featured_caption
	{
		width:91%;
	}
}

@media only screen and (max-width: 650px) {
	.featured_caption
	{
		width:90%;
	}
}

@media only screen and (max-width: 620px) {
	.featured_caption
	{
		width:89.5%;
	}
}

@media only screen and (max-width: 601px) {
	.featured_caption
	{
		width:89%;
	}
}

@media only screen and (max-width: 550px) {
	.featured_caption
	{
		width:88%;
	}
	
	.youtube_video, .vimeo_video
	{
		width:100%
	}
}

@media only screen and (max-width: 480px) {
	.featured_caption
	{
		width:86%;
	}
	
	.mobile_ads {
		margin-top:-20px;
		margin-bottom:15px;
	}
}

@media only screen and (max-width: 449px) {
	.featured_caption
	{
		width:92%;
	}
}


@media only screen and (max-width: 400px) {
	.latest_title a, .latest_games_caption a, .top_games_caption a 
	{
		font-size:12px;
		font-weight:normal;
	}
	.latest_description a
	{
		font-size:12px;
	}
	.featured_caption a
	{
		font-size:16px;
		font-weight:normal;
	}
	
	.latest_title_mob
	{
		font-size:9px;
	}
	.top_title
	{
		font-size:9px;
	}
	
	.featured_caption
	{
		width:92%;
	}
	
	.fb_text
	{
		font-size:13px;
		font-weight:bold;
	}
	.fb_popup_close a
	{
		font-size:13px;
	}
	.facebook-popup
	{
		width:170px;
	}
	.top_title
	{
		font-size:11px;
		padding:0 1px;
	}
	
	#bottom_list h3
	{
		font-size:18px;
	}
	.list_title
	{
		font-size:26px;
	}
	.list_of_item_title a
	{
		font-size:16px;
	}
	
	.container, .col-xs-6
	{
		padding-left:0px !important;
		padding-right:0px !important;
	}
	
	.col-xs-6
	{
		padding-left:5px !important;
		padding-right:5px !important;
	}
	
	.latest_games_caption
	{
		height:50px;
		line-height:16px;
	}
	.latest_title_mob
	{
		bottom:50px;
	}
	
	.facebookLikeBox
	{
		padding-right:0px !important;
	}
	
	.headerArea
	{
		padding-left:0px !important;
	}
	
	#left_part, #right_panel
	{
		padding:8px;
	}
	#latest_headlineArea
	{
		padding-left:6px;
		
	}
	
	#paginationArea
	{
		padding-left:6px;
		margin-top:2px;
	}
}

@media only screen and (max-width: 370px) {
	.featured_caption
	{
		width:91.50%;
	}
	#latest_headline {
		
	
	}
}

@media only screen and (max-width: 330px) {
	.featured_caption
	{
		width:90.50%;
	}
	.adsense_top {
		padding:0px;
	}
}





/*.slick-prev, .slick-next {
	background: #999999;
    display: block;
    position: absolute;
    top: 29px;
    width: 30px;
	height:92%;
}

@media only screen and (max-width: 1000px) {
	.slick-prev, .slick-next {
    top: 29px;
	height:90%;
}
}*/











/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
    position: relative;
    padding-top: 0px;
    left: 0;
}
#page-content.slide-active {
    padding-top: 0
}



/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
	/*background:#3DBFFC;*/
}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}
#slide-nav .navbar-toggle.slide-active .icon-bar {
  background:#07A3EB !important;
}
.navbar-header {
    position: relative
}
.slide-active .nav li{
	border-bottom:1px solid #CCCCCC !important;
	
}

/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
   /* position: relative*/
}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width:767px) { 
	#slide-nav .container {
	    margin: 0!important;
	    padding: 0!important;
     	 height:100%;
	}
	#slide-nav .navbar-header {
	    margin: 0 auto;
	    padding: 0 15px;
	}
	#slide-nav .navbar.slide-active {
	    position: absolute;
	    width: 60%;
	    top: -1px;
	    z-index: 1000;
	}
	#slide-nav #topmenu {
	    background: #f7f7f7;
	    left: -100%;
	    width: 60%;
	    min-width: 0;
	    position: fixed;
	    padding-left: 0;
	    z-index: 100;
	    top: 50px;
	    margin: 0;
	}
	#slide-nav #topmenu .navbar-nav {
	    min-width: 0;
	    width: 100%;
	    margin: 0;
	}
	#slide-nav #topmenu .navbar-nav .dropdown-menu li a {
	    min-width: 0;
	    width: 60%;
	    white-space: normal;
	}
	#slide-nav {
	    border-top: 0
	}
	#slide-nav.navbar-inverse #topmenu {
	    background: #FFFFFF
	}
	/* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
	#navbar-height-col {
	    position: fixed;
	    top: 0;
	    height: 100%;
        bottom:0;
	    width: 60%;
	    left: -60%;
	    background: #f7f7f7;
	}
	#navbar-height-col.inverse {
	    background: #FFFFFF;
	    z-index: 1;
	    border: 0;
	}
	#slide-nav .navbar-form {
	    width: 100%;
	    margin: 8px 0;
	    text-align: center;
	    overflow: hidden;
	    /*fast clearfixer*/
	}
	#slide-nav .navbar-form .form-control {
	    text-align: center
	}
	#slide-nav .navbar-form .btn {
	    width: 100%
	}
}
@media (min-width:768px) { 
	#page-content {
	    left: 0!important
	}
	.navbar.navbar-fixed-top.slide-active {
	    position: fixed
	}
	.navbar-header {
	    left: 0!important
	}
}


.overlay {
		position: fixed;
		top: -22px;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		filter:alpha(opacity=50);
		-moz-opacity:0.5;
		-khtml-opacity: 0.5;
		opacity: .5;
		z-index: 0;
		padding-top:22px !important;
		
	}
	
.slide-active .nav li a{
font-size:15px !important;
color:#000000!important;
		
}
.slide-active .nav li:hover a{
	
	color:#000000!important;	
}
#page-content .description img {
	max-width:100% !important;
	height:auto !important;
	border-radius:20px;
}

#page-content .item_description img {
	max-width:100% !important;
	height:auto !important;
	border-radius:20px;
}
#up_arrow {
	width:65px;
	position:fixed;
	right:5px;
	bottom:0px;
	cursor:pointer;
}
.recent_app .recent_content {
	margin-bottom:12px;
}

.recent_app
{
	text-align:center;
}

.recent_app a
{
	font-size:18px;
	font-weight:bold;
	text-decoration:none;
}

.recent_app p
{
	margin-top:-10px;
	margin-bottom:8px;
}

.promoted_title
{
	padding-bottom:10px;
}

.start_button {
    background-color: #4f5e97;
    border: 1px solid #314d7c;
    border-radius: 6px;
    bottom: 45px;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    left: 16%;
	top:50%;
    line-height: 37px;
    margin: 0 auto;
    position: absolute;
    text-shadow: 0 -2px 0 rgba(59, 79, 131, 0.5);
    width: 70%;
	text-align:center;
}
@media (max-width:1000px) {
	.start_button {
		top:43%;

	}
}
@media (max-width:500px) {
	.start_button {
		display:none;
	}
	.latest_title_mob {
		display:none !important;
	}
}
