/* CSS Document */
#topmenu .nav > li > a
{
	font-size:18px;
}

@media only screen and (max-width: 991px) { 

	.language_list
	{
		width:160px;
	}
	
	#topmenu .nav > li > a
	{
		font-size:12px;
		padding:10px 7px;
	}
}


















